html, body {
    height: 100%;
    width: 100%;
    font-family: monospace, sans-serif;
    margin: 0 auto;
    vertical-align: middle;
    background-image: url("../images/hero2.jpg");
    display: inline-block;
}

h2 {
    color: rgb(255, 217, 0);
    font-family: 'Bungee', cursive;
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}

.flex-grid {
    display: flex;
  }

.col {
    flex: 1;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #color {
    background-color: rgb(255, 255, 255, .95);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 10px 25px rgba(10, 10, 0, 0.682);
    border: 2px solid black;
    height: 550px;

}

  #email {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: 'Bungee', cursive;
      font-weight: 600;
      display: block;
  }

  a {
    color: blue;
  }

  a:hover {
    color: red;
  }
  
  .container-text {
    padding: 5px;
    margin: 0 auto;
    vertical-align: center;
  }
    
  #profile-img {
    padding-top: 15px;
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: inline-block;
  }

p {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
   }