html, body {
    height: 100%;
    width: 100%;
    font-family: monospace, sans-serif;
    margin: 0 auto;
    vertical-align: middle;
    background-image: url("../images/hero2.jpg");
    display: inline-block;
}

#game-area {
    border: solid 5px rgb(0, 173, 0);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255, .95);
    border: 5px black solid;

  }
  
  #status-area {
    height: 80px;
    background-color: rgb(224, 224, 224, .95);
    line-height: 80px;
    font-family: schluber, monospace;
    font-size: 25px;
    border-bottom: double;
}

  #status-area * {
      display: inline;
      padding: 30px;
      text-align: center;
  }


#time-lib {
    display: flex;
    height: 200px;
}

#col-2 {
    flex: 2;
    padding-bottom: 25px;
    padding-top: 25px;
}

#col-3 {
    flex: 1;
    background-color: rgba(226, 226, 226, 0.5);
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 20px;
    font-family: schluber, monospace;
    border-left: double;
}


#col-3 li {
    font-size: 18px;
    font-family: monospace;
}

h2 {
    font-size: 25px;
    font-family: schluber, monospace;
    padding-bottom: 10px;
}

/* 
  #timeline-area {
      background-color: rgba(255, 0, 0, 0.966);
      border: 0 5 0 5 black solid;
      height: 300px;
      width: 100%;
  } */

  /* #liabilities {
      padding-left: 20px;
      padding-right: 20px;
      background-color: rgba(140, 0, 255, 0.5);
      color: black;
      height: 100%;
      border-left: double;

  } */

  #question-area {
      border-top: double;
      padding: 30px;
      margin: 0 auto;
      margin: 0 auto;
      display: block;
      text-align: center;
  }

  img {
      height: 130px;
      width: 120px;
      object-fit: contain;
      margin: 0 auto;
  }

  legend {
    color: white;
    font-weight: bold;
    }
  
  label {
    color: greenyellow;
    }


.hide {
    display: none;
  }
  
  .show {
    display: inline-block;
  }

  p, li, h2, h1 {
    color: black;
   }

   #question {
    font-size: 20px;

   }


   #description {
       font-size: 20px;
   }