html, body {
    height: 100%;
    width: 100%;
    font-family: monospace, sans-serif;
    margin: 0 auto;
    vertical-align: middle;
    background-color: black;
    display: inline-block;
    background-color: rgb(255, 166, 0);
}

#game-area {
    border: solid 5px greenyellow;
    margin: 20px;
    background-color: black;
  }
  
  #status-area {
    height: 100px;
    background-color: blue;
  }

  #status-area * {
      display: inline;
      padding: 30px;
      text-align: center;
  }

  #timeline-area {
      background-color: brown;
      height: 300px;
      width: 100%;
  }

  #liabilities {
      padding-left: 20px;
      padding-right: 20px;
      float: right;
      background-color: blueviolet;
      height: 100%;
  }

  #question-area {
      padding: 30px;
      margin: 0 auto;
      margin: 0 auto;
      display: block;
      text-align: center;
  }

  img {
      height: 200px;
  }

  button {
      /* width: 4px;
      height: 20px; */
      padding-left: 10px;
      padding-right: 10px;
  }

  legend {
    color: white;
    font-weight: bold;
    }
  
  label {
    color: greenyellow;
    }