#hero {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    }

h2 {
    color: rgb(255, 217, 0);
    font-family: schluber, monospace;
    font-weight: 800px;
    font-size: 40px;
    padding-top: 10px;
}

#instructions {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: rgb(255, 217, 0);
    font-family: schluber;
    font-weight: 800px;
    font-size: 20px;
    padding-top: 10px;
    line-height: 25px;
  }

  #insturctions-textcontainer {
      width: 60%;
      margin: 0 auto;
  }
  
  #name-section {
    width: 50%;
    margin: 0 auto;
    vertical-align: center;
    display: block;
    text-align: center;
  }
  
  #start-button {
    font-size: 30px;
    margin-top: 30px;
  }

  legend {
    color: rgb(255, 217, 0);
    font-family: schluber;
    font-weight: 800px;
    font-size: 30px;
    padding-top: 10px;
}

a {
    color: grey;
    text-decoration: none;

}